<h1>応募詳細</h1>
<ul class="list-unstyled">
  <li class="media mb-3">
    <div class="media-body">
      <div>
        <%= @exchange.user.name %> <span class="text-muted">posted at <%= @exchange.created_at %></span>
      </div>
      <div>
        応募内容：<%= @exchange.content %>
      </div>
    </div>
  </li>
</ul>

<% unless @exchange.request.agreement %>
  <%= button_to '依頼を受ける', {controller: 'requests', action: 'agree'}, class: 'btn btn-primary btn-block', data: {confirm: "この依頼をうけますか？"} %>
<% end %>